<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JOB TRACKER</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="head">
    <nav>
      
      <h1>
        
        <a href="/">
          <div class="logo">
            <img class="newScreen" src="/logo2.png" alt="#">
          </div>
          <h2 class="title">JOB TRACKER</h2>
        </a>
      </h1>
      <ul>
        <% if (user) { %>
          <li>Welcome, <%= user.firstname %>
              <%= user.lastname %>
          </li>
          <li><a href="/user-profile">My profile</a></li>
          <div class="smoothie">
            <img src="<%= user.profilpicture %>" alt="">
          </div>
          <li><a href="/logout">Log out</a></li>
          <% } else { %>
            <!-- <li><a href="/login">Log in</a></li>
            <li><a href="/signup" class="btn">Sign up</a></li> -->
            <% } %>
      </ul>
    </nav>
  </div>