<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/mah-search/assets/logo.png" alt="">
  </div>
  <div class="headings">
    <h2>JOB TRACKER</h2>
    <h3>By Hugo, Mateo & Antonino</h3>
    <a href="/smoothies" class="btn">View Jobs</a>
  </div>
</header>


<%- include('partials/footer'); -%>