/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  max-width: 100%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fff;
}

h1,
h2,
h3,
h4,
ul,
li,
a,
p,
input,
label,
button,
div,
footer {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  color: #444444;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.head {
  background-color: #4c3fff;
  margin-bottom: 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

nav h1 a {
  color: #fff;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 20px;
  color: #fff;
}

nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  color: #fff;
}

.btn {
  background: #4c3fff;
}

.btn:hover {
  background: #201799;
}

form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}

form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}

input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}

label {
  display: block;
  margin: 20px 0 10px;
}

button {
  background: #4c3fff;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  margin-top: 1rem;
}

button:hover {
  background: #201799;
}

.error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}

header {
  display: flex;
  align-items: center;
  border: 0;
  flex-direction: row;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  padding: 10px 16px;
  letter-spacing: 2px;
  margin: 0 auto;
}

header img {
  width: 100%;
  object-fit: fill;
  margin-right: 40px;
}

header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}

header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}

header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
  color: #fff;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 80px;
  margin: 80PX AUTO;
  max-width: 1200px;
}

.recipe {
  display: inline-block;
  border-radius: 20px;
  background: white;
  position: relative;
  text-align: center;
  padding: 0 20px 30px 20px
}

.recipe img {
  width: 100px;
  margin: -30px auto 20px;
}

.update {
  color: blue;
}

button.delete {
  color: #fff;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.delete:hover {
  background-color: darkred;
}

.edit {
  background: #4c3fff;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}

.edit:hover {
  background: #201799;
}

.myprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li.job {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  overflow: hidden;
}

form a {
  background: #4c3fff;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  margin-top: 1rem;
  text-align: center;
}

form button {
  background: #4c3fff;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  margin-top: 1rem;
}

form a,
form button {
  width: 100%;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section>.jobTitle,
.company,
.website,
.nameContact,
.emailContact,
.phone,
.Address,
.origin,
.statusJob,
.comments,
a.goBack,
a.edit {
  margin-top: 1rem;
}

section a.goBack {
  width: fit-content;
  background: #4c3fff;
  color: #fff;
  border: 0;
  display: flex;
  flex-direction: row;
  text-align:justify;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  padding: 10px 16px;
  letter-spacing: 2px;
}

section a.edit {
  width: 5rem;
}

section .profile > 
h1,
p,
.one,
.two,
button{
  margin-top: 2rem;
}

.profile .one a, .two a{
  background: #4c3fff;
  color: #fff;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  margin-top: 1rem;
  max-width: fit-content;
}

footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}

button.update {
  color: #fff;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #8070d4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5749d2;
}